/*Menu de arribas*/
nav{
    height: 10%;
    width: auto;
    background-color: #73A4FF;
    display: flex;
    align-items: center;
}
ul li{

    display:inline-block; 
    background-color: red;
    border-radius: 30%;
  }
li{
    color: black;
    display: inline-block;
}
body{
    margin: 0%;
    background-color: black;
}

.Logo{
    margin: 1%;
}

a{
    text-decoration: none;
}
a:hover{
    transition: 1s;

}